*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
  }
  body{
      background: url('payimg2.jpg') no-repeat;
      background-size: cover;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    min-height: 100vh;
    background: rgba(0,0 , 0, 0.5);
    /* background: linear-gradient(90deg, #2ecc71 60%, #27ae60 40.1%); */
  }