*{
    padding:0;
    margin: 0;
    font-family: sans-serif;
}

body {
      background: url('./ph.jpg') no-repeat;
      background-size: cover;
}

.login-form{
    width: 400px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: cyan;
    box-sizing: border-box;
    background: rgba(0,0 , 0, 0.5);
}

.login-form h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}.login-form input {
     font: size 16px;
     width: 90%;
     padding: 15px 10px;
     border: 0;
     outline: none;
     margin-left: 5px;
     border-radius: 5px;
}

.login-form button{
      font-size: 18px;
      font-weight: bold;
      margin: 20px 0px;
      padding: 10px 15px;
      width: 50%;
      bottom: 0%;
      position: absolute;
      left: 28%;
      border-radius: 5px;
      border: 0;

}